
body{
  background-color:#9DB5B2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3B413C;
}

a{
  color: inherit;
}

.btn{
  text-decoration: none;
  color: #3B413C;
  background-color: white;
  padding-block: .5rem;
  padding-inline: 1rem;
  border: 2px solid #3B413C;
}

img{
  border-radius: 24px;
}